ENABLE_AGENT=false
LLM_PROVIDER=stub
GROQ_API_KEY=
OPENAI_API_KEY=
DEFAULT_BROWSER=chromium

SAUCE_URL=https://www.saucedemo.com
DEMOBLAZE_URL=https://demoblaze.com
BOOKS_URL=https://books.toscrape.com
INTERNET_URL=https://the-internet.herokuapp.com
PARABANK_URL=https://parabank.parasoft.com
REQRES_URL=https://reqres.in
COUNTRIES_GQL_URL=https://countries.trevorblades.com
